<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!--    added bootstrap  -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" href="/css/style.css"/>

    <title>Clients</title>
    <link rel="icon" href="/rg.ico">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q0ZVDQLPXV"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'G-Q0ZVDQLPXV');
</script>

<body>

<div class="container my-auto mx-auto">
    <h1>List of Clients</h1>

    <div class="container my-1">
        <button type="button" class="nav-button" onclick="window.location.href='/start';">Back to Main Page</button>
        <button type="button" class="nav-button" onclick="window.location.href='/clients/new';">Create New Client</button>
        <button type="button" class="nav-button" onclick="window.location.href='/changes';">Changes within existing files</button>
        <button type="button" class="del-button" id="exit-button">Exit app</button>

        <script>
            document.getElementById("exit-button").addEventListener("click", function() {
                window.location.href = "https://robgro.dev";
            });
        </script>
    </div>

    <div>
        <table th:border="4" th:cellpadding="10"
               class="table table-bordered text-center table-dark table-striped text-nowrap">

            <thead class="col-form-label text-warning">
            <th>Client's Name</th>
            <th>Phone No.</th>
            <th>Email</th>
            <th>Actions</th>
            </thead>

            <tbody class="text-light">
            <th:block th:each="client : ${clientsList}">
                <tr>
                    <td>[[${#strings.concat(client.firstName) + ' ' + (client.lastName)}]]</td>
                    <td th:text="${client.phoneNumber}"></td>
                    <td th:text="${client.email}"></td>
                    <td>
                        <a th:href="@{'/clients/' + ${client.id} + '/housesList'}"
                           class="btn btn-outline-info btn-sm"> Houses </a>

                        <a th:href="@{'/clients/' + ${client.id} + '/edit'}"
                           class="btn btn-outline-warning btn-sm"> Edit </a>
                        &nbsp;
                        <a th:href="@{'/clients/' + ${client.id} + '/delete'}"
                           class="btn btn-outline-danger btn-sm"> Delete </a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>