<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!--    added bootstrap  -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" href="/css/style.css"/>

    <title>Client's Houses</title>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q0ZVDQLPXV"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-Q0ZVDQLPXV');
</script>

<body>
<div class="container my-3">
    <div><h1 th:text="'Houses of ' + ${#strings.concat(client.firstName) + ' ' + (client.lastName)}">Hello</h1></div>

    <div class="container my-1">
        <button type="button" class="nav-button" onclick="window.location.href='/index';">Back to Main Page</button>
        <button type="button" class="nav-button" onclick="window.location.href='/clients';">Back to Clients List</button>
    </div>

    <div>
        <table th:border="4" th:cellpadding="10" class="table table-bordered text-center table-dark table-striped" >

            <thead class="col-form-label text-warning">
            <th>Street number, name</th>
            <th>Post code, city</th>
            <th>Actions</th>
            </thead>

            <tbody class="text-light">
            <th:block th:each="house : ${clientHousesList}">
                <tr>
                    <td th:text="${house.streetNumber} + ' ' + ${house.streetName}"></td>
                    <td th:text="${house.postCode} + ', ' + ${house.city}"></td>
                    <td>
                        <a th:href="@{'/houses/' + ${house.id} + '/edit'}"
                           class="btn btn-outline-warning btn-sm"> Edit </a>

                        <a th:href="@{'/houses/' + ${house.id} + '/delete'}"
                           class="btn btn-outline-danger btn-sm"> Delete </a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>