<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    added bootstrap  -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" href="/css/style.css"/>

    <title>Houses</title>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q0ZVDQLPXV"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-Q0ZVDQLPXV');
</script>

<body>
<div class="container my-auto mx-auto">

    <h1>List of Houses</h1>

    <div class="container my-1">
        <button type="button" class="nav-button" onclick="window.location.href='/index';">Back to Main Page</button>
        <button type="button" class="nav-button" onclick="window.location.href='/houses/new';">Create New House</button>
    </div>

    <div>
        <table th:border="4" th:cellpadding="10"
               class="table table-bordered text-center table-dark table-striped text-nowrap">
            <thead class="col-form-label text-warning">
            <th>Street No.</th>
            <th>Street Name</th>
            <th>Post Code</th>
            <th>City</th>
            <th>Client's Name</th>
            <th>Actions</th>
            </thead>

            <tbody class="text-light">
            <th:block th:each="house : ${housesList}">
                <tr>
                    <td th:text="${house.streetNumber}"></td>
                    <td th:text="${house.streetName}"></td>
                    <td th:text="${house.postCode}"></td>
                    <td th:text="${house.city}"></td>
                    <td th:text="${#strings.concat(house.client.firstName) + ' ' + (house.client.lastName)}"></td>

                    <td>
                        <a th:href="@{'/houses/' + ${house.id} + '/edit'}"
                           class="btn btn-outline-warning btn-sm"> Edit </a>
                        &nbsp;
                        <a th:href="@{'/houses/' + ${house.id} + '/delete'}"
                           class="btn btn-outline-danger btn-sm"> Delete </a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>