<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!--    added bootstrap  -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" href="/css/style.css"/>

    <title>Cleaning Services Application</title>
    <link rel="icon" href="/rg.ico">

</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q0ZVDQLPXV"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'G-Q0ZVDQLPXV');
</script>

<body>

<div class="d-md-grid gap-2 col-md-5 mx-auto container-fluid text-center">
    <h1>Cleaning Services Application</h1>

    <div class="container my-1">
        <button type="button" class="nav-button" onclick="window.location.href='/clients';">Clients</button>
        <button type="button" class="nav-button" onclick="window.location.href='/houses';">Houses</button>
        <button type="button" class="del-button" id="exit-button">Exit app</button>

        <script>
            document.getElementById("exit-button").addEventListener("click", function() {
                window.location.href = "https://robgro.dev";
            });
        </script>
    </div>

</div>
</body>
</html>